*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;

}

header{
    background-color: blueviolet;
    height: 10vh;;
    
}

main{
    display: flex;
    flex-grow: 1;
    
}

nav{
    background-color: brown;
    flex-grow: 1;

   
    
}

article{
    background-color: chocolate;
    flex-grow: 3;

    
}

aside{
    background-color: darkblue;
    flex-grow: 1;
}

footer{
    background-color: cyan;
    height: 10vh;
}
